{{ define "main" }}
<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-meta">
      {{ .Date.Format "2006-01-02" }}
    </div>
  </header>
  
    {{ if .Params.audio_url }}
    <div class="audio-player">
        <audio controls>
            {{ if hasPrefix .Params.audio_url "http" }}
                <source src="{{ .Params.audio_url }}" type="audio/mpeg">
            {{ else }}
                <source src="{{ site.Params.audioBaseURL }}{{ .Params.audio_url }}" type="audio/mpeg">
            {{ end }}
            Your browser does not support the audio element.
        </audio>
        <div class="audio-controls">
            <a href="{{ if hasPrefix .Params.audio_url "http" }}{{ .Params.audio_url }}{{ else }}{{ site.Params.audioBaseURL }}{{ .Params.audio_url }}{{ end }}" 
               class="download-link" 
               download>
               دانلود برنامه {{ .Params.title }}
            </a>
        </div>
    </div>
    {{ end }}


  <!-- Metadata -->

  
  {{ if .Params.performers }}
<div class="performers">
    {{ if .Params.performers.singers }}
    <div class="singers">
        <h3>خوانندگان:</h3>
        {{ range .Params.performers.singers }}
        <span class="performer">{{ . }}</span>
        {{ end }}
    </div>
    {{ end }}
    
    {{ if .Params.performers.players }}
    <div class="players">
        <h3>نوازندگان:</h3>
        {{ range .Params.performers.players }}
        <span class="performer">{{ . }}</span>
        {{ end }}
    </div>
    {{ end }}
    
    {{ if .Params.performers.poets }}
    <div class="poets">
        <h3>شاعران:</h3>
        {{ range .Params.performers.poets }}
        <span class="performer">{{ . }}</span>
        {{ end }}
    </div>
    {{ end }}
    
    {{ if .Params.performers.announcers }}
    <div class="announcers">
        <h3>گوینده:</h3>
        {{ range .Params.performers.announcers }}
        <span class="performer">{{ . }}</span>
        {{ end }}
    </div>
    {{ end }}

</div>
{{ end }}

  <!-- Content (Lyrics) -->
  <div class="post-content">
    {{ .Content }}
  </div>

  <!-- Comments Section -->
  <div class="comments">
    <!-- Isso comment section will go here -->
  </div>
</article>
{{ end }}
