{{ define "main" }}
  <header class="program-header">
    <h1>{{ .Title }}</h1>
    <div class="program-meta">
      {{ with .Params.years }}<p>سال‌های پخش: {{ . }}</p>{{ end }}
      {{ with .Params.producer }}<p>تهیه‌کننده: {{ . }}</p>{{ end }}
      {{ with .Params.total_episodes }}<p>تعداد برنامه‌ها: {{ . }}</p>{{ end }}
    </div>
    {{ with .Description }}
      <p class="description">{{ . }}</p>
    {{ end }}
    {{ .Content }}
  </header>

  <div class="episode-list">
    {{ range .Pages.ByDate }}
      <article class="episode-card">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ with .Params.performers }}

          <p class="performers">با همکاری: 
            {{ with .singers }}{{ range $i, $e := . }}{{ if $i }}، {{ end }}{{ $e }}{{ end }}{{ end }}
            {{ if .players }}، {{ with .players }}{{ range $i, $e := . }}{{ if $i }}، {{ end }}{{ $e }}{{ end }}{{ end }}{{ end }}
            {{ if .poets }}اشعار متن برنامه: {{ with .poets }}{{ range $i, $e := . }}{{ if $i }}، {{ end }}{{ $e }}{{ end }}{{ end }}{{ end }}
            {{ if .announcers }}گوینده: {{ with .announcers }}{{ range $i, $e := . }}{{ if $i }}، {{ end }}{{ $e }}{{ end }}{{ end }}{{ end }}
          </p>

        {{ end }}
      </article>
    {{ end }}
  </div>
{{ end }}
