<!-- layouts/_default/taxonomy.html -->
{{ define "main" }}
<div class="taxonomy-container" dir="rtl">
  <h1 class="taxonomy-title">{{ .Title }}</h1>
  <div class="taxonomy-list">
    {{ range .Pages }}
      <article class="program-entry">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class="program-meta">
          {{ with .Params.tags }}
            <div class="tags">
              {{ range . }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">{{ . }}</a>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </article>
    {{ end }}
  </div>
</div>
{{ end }}
