{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}

{{ $filename := path.Base .File.LogicalName }}
{{ $filenameNoExt := replace $filename ".md" "" }}

{{ $section := path.Base .File.Dir }}
{{ $prefix := "" }}
{{ if eq $section "golhaye-rangarang" }}
{{ $prefix = "GR" }}
{{ else if eq $section "golhaye-tazeh" }}
{{ $prefix = "GT" }}
{{ else }}
{{ $prefix = "UNKNOWN" }} <!-- Default case or error indicator -->
{{ end }}


<!-- 
{{ $domain := replaceRE "^https?://[^.]+\\." "" .Site.BaseURL }}
{{ $audioURL := printf "https://music.%s/%s_%s.mp3" $domain $prefix $filenameNoExt }}
-->

{{ $audioURL := printf "https://music.golhaprogram.com/%s_%s.mp3" $prefix $filenameNoExt }}


<article class="program">
  <header>
    <h1>{{ partial "program-title" . }}</h1>
  </header>

  <div class="audio-player">
    <div class="audio-container">
      <audio controls>
        <source src="{{ $audioURL }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <a href="{{ $audioURL }}" download="{{ $prefix }}_{{ $filenameNoExt }}.mp3" class="download-button" title="دانلود"
        onclick="event.preventDefault(); window.open(this.href, '_blank');">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
          <polyline points="7 10 12 15 17 10" />
          <line x1="12" y1="15" x2="12" y2="3" />
        </svg>
      </a>
    </div>
  </div>

  <div class="performers">
    {{ if .Params.singers }}
    <div class="singers">
      <h3>خوانندگان:</h3>
      {{ range .Params.singers }}
      <span class="performer">{{ . }}</span>
      {{ end }}
    </div>
    {{ end }}

    {{ if .Params.players }}
    <div class="players">
      <h3>نوازندگان:</h3>
      {{ range .Params.players }}
      <span class="performer">{{ . }}</span>
      {{ end }}
    </div>
    {{ end }}

    {{ if .Params.poets }}
    <div class="poets">
      <h3>شعرا:</h3>
      {{ range .Params.poets }}
      <span class="performer">{{ . }}</span>
      {{ end }}
    </div>
    {{ end }}

    {{ if .Params.announcers }}
    <div class="announcers">
      <h3>گوینده:</h3>
      {{ range .Params.announcers }}
      <span class="performer">{{ . }}</span>
      {{ end }}
    </div>
    {{ end }}
  </div>

  <div class="content">
    {{ .Content }}
  </div>


  <div id="commento"></div>

  <!-- Comments section -->
  <!--
    <div class="comments">
        <div id="isso-thread" data-isso="//comments.golhaprogram.com/"
             data-isso-lang="fa"
             data-isso-max-comments-top="10"
             data-isso-max-comments-nested="5">
        </div>
    </div>
    -->
</article>

{{ end }}
