// css for programs/list.html

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 1rem;
}

.program-section {
  &-header {
    text-align: center;
    margin-bottom: 3rem;
    
    h1 {
      font-size: 2.25rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-card {
    background: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;

    .card-title {
        text-decoration: none;
        transition: color 0.2s;
        &:hover {
           text-decoration: underline;
           text-underline-offset: 4px;
       }
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
        border-color: var(--background-accent);

        .card-title {
            color: var(--accent-dark);
        }
    }

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.75rem;
    }
  }
}