{{ if site.Params.plausible.enable }}
<!-- Privacy-friendly analytics by Plausible -->
<script async data-domain='{{ site.Params.plausible.domain }}' src='{{ site.Params.plausible.scriptURL }}'></script>
<script>
  window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
  plausible.init()
</script>
{{ end }}

<script defer src="https://cloud.umami.is/script.js" data-website-id="88ad3b34-cf8e-4f6d-adce-f33cde48f580"></script>

{{ if site.Params.umami.enable }}
<script defer src="{{ site.Params.umami.scriptURL }}" data-website-id=" {{ site.Params.umami.dataWebsiteId }}"></script>
{{ end }}