{{ $currentPage := . }}
        <nav class="main-nav">
            <div class="main-nav-container">
                <a href="/" class="main-nav-logo">گلها</a>
                
                <!-- Navigation Links -->

                <!-- Hamburger Menu -->
                <input type="checkbox" id="nav-toggle" class="main-nav-toggle">
                <label for="nav-toggle" class="main-nav-toggle-label">
                    <span></span>
                </label>
                
                <!-- Navigation Links -->
                <ul class="main-nav-links">
                    <li><a href="/programs/golhaye-rangarang">گلهای رنگارنگ</a></li>
                    <li><a href="/programs/golhaye-taze">گلهای تازه</a></li>
                    <li><a href="/programs/golhaye-javidan">گلهای جاویدان</a></li>
                    <li><a href="/programs/yek-shakhe-gol">یک شاخه گل</a></li>
                    <li><a href="/programs/golhaye-sahraee">گلهای صحرایی</a></li>
                    <li><a href="/about">درباره</a></li>
                </ul>
            </div>
        </nav>
