{{ $currentPage := . }}
<div class="main-nav-container">

    {{/* Mobile Menu Toggle */}}
    <input type="checkbox" id="nav-toggle" class="main-nav-toggle" aria-label="منوی موبایل">
    <label for="nav-toggle" class="main-nav-toggle-label">
        <span></span>
    </label>

    {{/* Navigation Links */}}
    <ul class="main-nav-links">

        {{/* Logo/Home Link */}}
        <li class="nav-item">
            <a href="{{ .Site.Home.RelPermalink }}" class="nav-link">
                خانه
            </a>
        </li>

        {{/* Programs Dropdown */}}
        <li class="nav-item has-dropdown">
            <a class="nav-link {{ if eq .Section "programs" }}active{{ end }}">
                برنامه‌ها
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/programs/golhaye-rangarang" class="dropdown-item">
                        گلهای رنگارنگ
                    </a>
                </li>
                <li>
                    <a href="/programs/golhaye-tazeh" class="dropdown-item">
                        گلهای تازه
                    </a>
                </li>
                <li>
                    <a href="/programs/golhaye-javidan" class="dropdown-item">
                        گلهای جاویدان
                    </a>
                </li>
                <li>
                    <a href="/programs/golhaye-sahraee" class="dropdown-item">
                        گلهای صحرایی
                    </a>
                </li>
                <li>
                    <a href="/programs/yek-shakhe-gol" class="dropdown-item">
                        یک شاخه گل
                    </a>
                </li>
                <li>
                    <a href="/programs/barge-sabz" class="dropdown-item">
                        برگ سبز  
                    </a>
                </li>
            </ul>
        </li>

        {{/* Artists Dropdown */}}
        <li class="nav-item has-dropdown">
            <a class="nav-link {{ if eq .Section "programs" }}active{{ end }}">
                 هنرمندان
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/singers" class="dropdown-item">
                        خوانندگان
                    </a>
                </li>
                <li>
                    <a href="/composers/" class="dropdown-item">
                        آهنگسازان
                    </a>
                </li>
                <li>
                    <a href="/arrangers/" class="dropdown-item">
                        تنظیم کنندگان
                    </a>
                </li>
                <li>
                    <a href="/players/" class="dropdown-item">
                        نوازندگان
                    </a>
                </li>
                <li>
                    <a href="/poets/" class="dropdown-item">
                        شاعران
                    </a>
                </li>
                <li>
                    <a href="/announcers/" class="dropdown-item">
                        گویندگان
                    </a>
                </li>
            </ul>
        </li>
        
        {{/* Other Navigation Links */}}
        <li class="nav-item">
            <a href="/about/" class="nav-link {{ if eq .Section "about" }}active{{ end }}">
                درباره
            </a>
        </li>
    </ul>
</div>
